<div class="max-w-sm mx-auto p-4 border rounded-lg shadow-sm bg-white font-sans">
  @if (token()) {

  <form [formGroup]="resetPasswordForm" action="#" class="space-y-5" (ngSubmit)="onSubmit()">
    @let password = this.resetPasswordForm.get('password');
    @let password_confirm = this.resetPasswordForm.get('password_confirm');

    <div>
      <label for="password" class="block font-medium mb-1">new Password</label>
      <div class="relative">
        <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
          class="w-full border border-gray-300 rounded-lg min-h-10 p-2 pr-10 focus:ring-2 focus:ring-primary focus:border-transparent outline-none transition-all">
        <button type="button" (click)="showPassword = !showPassword"
          class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
          @if (showPassword) {
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 text-gray-500 hover:text-gray-700">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
          </svg>
          } @else {
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 text-gray-500 hover:text-gray-700">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          }
        </button>
      </div>
      @if (password?.invalid && (password?.dirty || password?.touched)) {
      @for (error of password?.errors | keyvalue; track error.key) {
      <small class="text-error block">{{getErrorMessage(error.key, error.value)}}</small>
      }
      }
    </div>
    <div>
      <label for="password_confirm" class="block font-medium mb-1">password confirm</label>
      <div class="relative">
        <input [type]="showPasswordConfirm ? 'text' : 'password'" id="password_confirm"
          formControlName="password_confirm"
          class="w-full border border-gray-300 rounded-lg min-h-10 p-2 pr-10 focus:ring-2 focus:ring-primary focus:border-transparent outline-none transition-all">
        <button type="button" (click)="showPasswordConfirm = !showPasswordConfirm"
          class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
          @if (showPasswordConfirm) {
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 text-gray-500 hover:text-gray-700">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
          </svg>
          } @else {
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 text-gray-500 hover:text-gray-700">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          }
        </button>
      </div>
      @if (password_confirm?.invalid && (password_confirm?.dirty || password_confirm?.touched)) {
      <small class="text-error">passwords should match</small>
      }
    </div>
    <button type="submit" [disabled]="pending()"
      class="w-full px-4 py-2 mt-4 rounded-xl text-md font-semibold text-white no-underline bg-primary hover:bg-primaryHover transition-all disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-offset-2 focus:ring-primary outline-none">Reset
      Password</button>
  </form>
  } @else {
    <div class="text-error"> Unauthorized</div>
  }

</div>
